<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" th:fragment="header">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/car/carList">Car</a></li>
                <li><a href="/wheels/wheelsList">Wheels</a></li>
                <li><a href="/tyres/tyresList">Tyres</a></li>
                <li><a href="/engine/engineList">Engine</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>